<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-lg-7">
            <div class="img-wrap">
                <img src="../../assets/image/notFound.png" alt="">
            </div>
            <h1>404 Page Not Found</h1>
            <h3>Silahkan kembali ke page Loker.</h3>
            <button class="btn btn-danger btn-lg btn-end" (click)="goLoker()">
                <i class="fas fa-address-book fa-lg me-2"></i> Loker
            </button>
        </div>
    </div>
</div>