@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/*  */

.container {
    height: 100vh;
}

img {
    display: block;
}

.img-wrap {
    width: 100%;
}

.img-wrap img {
    height: 550px;
    object-fit: cover;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .img-wrap img {
        height: 300px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 400px) {
    .img-wrap img {
        height: 160px;
        object-fit: cover;
    }
}