footer {
    height: auto;
    width: 100%;
    background: #A3DE83;
    margin-top: 20px;
    padding-top: 15px;
}

.p {
    color: black;
}

@media only screen and (max-width: 575px) {
    .p {
        text-align: center !important;
    }
    .wiget {
        margin-left: 30%;
    }
}