<div class="container">
    <div class="row justify-content-md-around">
        <div class="col-lg-8">
            <div class="form-judul">
                <h2 class="text-center">
                    Form Create Password
                </h2>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="validForm">
                Harap isi semua form
            </div>
            <div class="alert alert-success" role="alert" *ngIf="alertBerhasil">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="alertError">
                {{message}}
            </div>
            <form action="" [formGroup]="formCreatePassword" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control mb-3" id="email" name="email" formControlName="email" placeholder="email" required>
                    <label for="email">Email</label>
                    <span class="help-block " *ngIf="!formCreatePassword.get('email').valid && formCreatePassword.get('email').touched">Tolong masukan email !</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control mb-3" id="password" name="password" formControlName="password" placeholder="password" required>
                    <label for="password">Password</label>
                    <span class="help-block" *ngIf="!formCreatePassword.get('password').valid && formCreatePassword.get('password').touched">Tolong masukan password !</span>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary btn-daftar" type="submit">Buat Password</button>
                </div>
            </form>
        </div>
    </div>
</div>