<div class="container">
    <div class="row justify-content-md-around">
        <div class="col-lg-8">
            <div class="form-judul">
                <h2 class="text-center">
                    Form Ganti Password
                </h2>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="validForm">
                Harap isi semua form
            </div>
            <div class="alert alert-success" role="alert" *ngIf="alertBerhasil">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="alertError">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="konfirmasi">
                Konfirmasi Password Salah
            </div>
            <form action="" [formGroup]="formPassword" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control mb-3" id="passwordLama" name="passwordLama" formControlName="passwordLama" placeholder="passwordLama" required>
                    <label for="passwordLama">Password Lama</label>
                    <span class="help-block " *ngIf="!formPassword.get('passwordLama').valid && formPassword.get('passwordLama').touched">Tolong masukan password lama !</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control mb-3" id="passwordBaru" name="passwordBaru" formControlName="passwordBaru" placeholder="passwordBaru" required>
                    <label for="passwordBaru">Password Baru</label>
                    <span class="help-block " *ngIf="!formPassword.get('passwordBaru').valid && formPassword.get('passwordBaru').touched">Tolong masukan password baru !</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control mb-3" id="cekPassword" name="cekPassword" formControlName="cekPassword" placeholder="cekPassword" required>
                    <label for="cekPassword">Konfirmasi Password</label>
                    <span class="help-block " *ngIf="!formPassword.get('cekPassword').valid && formPassword.get('cekPassword').touched">Tolong konfirmasi password</span>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary btn-daftar" type="submit">Ganti Password</button>
                </div>
            </form>
        </div>
    </div>
</div>