@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

/*  */

img {
    display: block;
}

.container {
    height: auto;
}

.form-daftar {
    padding: 30px 0;
}

.form-judul {
    margin-bottom: 50px;
}

.form-judul h2 {
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 40px;
}

.form-control {
    margin-bottom: 10px !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn-daftar {
    margin-top: 20px;
    border: none !important;
    background: #52a1eb !important;
}

.img-wrapper {
    width: 100%;
}

.img-wrapper img {
    margin: auto;
    height: 90px;
    object-fit: contain;
}

@media only screen and (max-width: 1200px) {
    .img-wrapper img {
        margin: auto;
        height: 78px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 998px) {}

@media only screen and (max-width: 767px) {
    .img-wrapper img {
        margin: auto;
        height: 55px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 480px) {
    .img-wrapper img {
        margin: auto;
        height: 45px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 320px) {
    .img-wrapper img {
        margin: auto;
        height: 42px;
        object-fit: contain;
    }
}